footer
  .container-fluid
    .row.footer-content.start-xs
      .col-xs
        h4 Разделы
        ul
          li
            a(href="#") Главная
          li
            a(href="#") Продукция
          li
            a(href="#") Сотрудничество
          li
            a(href="#") О Компании
          li
            a(href="#") Контакты     
      .col-xs
        h4 Обратная связь
        ul 
          li 
            a(href="mailto:info@unikscup.ru") info@unikscup.ru
          li 
            a(href="callto:+73833034550") +7 (383) 303 45 50
      .col-xs
        h4 Компания
        ul
          li ООО "ЮНИКС"
          li 630068, Россия, Новосибирск ул.Приграничная&nbsp;1/3
          li Работаем с 9:00 до 18:00 с&nbsp;понедельника&nbsp;по&nbsp;пятницу<br>Суббота&nbsp;-&nbsp;9:00&nbsp;-&nbsp;15:00<br>Вс&nbsp;-&nbsp;выходной
      .col-xs 
        h4 Правовая информация
        ul
          li &copy; ООО "ЮНИКС"
          li Все права защищены.
