header
  .header-top
    .container-fluid
      .row.middle-xs
        .col-xs-4
          a.logo(href="#") Unikscup
        .col-xs-8.row.middle-xs.end-xs
          .contacts.text-right
            p г.&nbsp;Новосибирск,
            p ул.Приграничная 1/3
            p.top-offset-5
              a(href="mailto:info@unikscup.ru"): strong info@unikscup.ru
          .center-xs      
            p.phone +7&nbsp;(383)&nbsp;303&nbsp;45&nbsp;50
            a.order-button(href="#") ЗАКАЗАТЬ&nbsp;ОБРАТНЫЙ&nbsp;ЗВОНОК
  .header-bottom
    .container-fluid
      .row.end-xs
        .col-xs.row.middle-xs.nav-button
          span
            a(href="#")
        ul.row.nav.col-sm.middle-xs
          - list = ['Главная', 'Продукция', 'Сотрудничеcтво', 'О компании', 'Контакты']
            each title in list 
              li: a(href="#")
                = title  
        .row.end-xs.middle-xs
          span
            a.toggle-cart(href="#")
              span.icon.icon-cart
                p В&nbsp;корзине&nbsp;2&nbsp;товара
                .counter 2
          span
            a.button-checkout(href="#") оформить заказ
      .cart-quick-view
        .row.around-xs.middle-xs
          .col-xs
            h3 Корзина   
          .col-xs.end-xs
            p.text-price 4400&nbsp;&#x20bd;
        ul.order
          li.row
            .col-xs.row.middle-xs.start-xs
              span.icon-cup150
              span.info
                h4 Стакан 150мл, белый
            .col-xs.row.middle-xs.center-xs
              .amount-block.start-xs
                p Количество
                span.amount 1100
                  .minus-pic
                    a.minus-link(href="#")
                  .plus-pic
                    a.plus-link(href="#")
            .col-xs.row.middle-xs.end-xs        
              .cost-block.start-xs
                p Стоимость
                span.cost 1320&nbsp;&#x20bd; 
          li.row
            .col-xs.row.middle-xs.start-xs
              span.icon-cup150
              span.info
                h4 Стакан 150мл, белый
            .col-xs.row.middle-xs.center-xs
              .amount-block.start-xs
                p Количество
                span.amount 1100
                  .minus-pic
                    a.minus-link(href="#")
                  .plus-pic
                    a.plus-link(href="#")
            .col-xs.row.middle-xs.end-xs        
              .cost-block.start-xs
                p Стоимость
                span.cost 1320&nbsp;&#x20bd;         
