extends ./layout.jade
block content
  .container-fluid.page-cart       
    .row.center-xs
      h1 Корзина
    .order-list
      .row.bottom-xs.start-xs
        .col-xs
          h3 Ваш заказ   
      ul.order
        li.row
          .col-xs.row.middle-xs.start-xs
            span.icon-cup150
            span.info
              h4 Стакан 150мл, белый
          .col-xs.row.middle-xs.center-xs
            .amount-block.start-xs
              p Количество
              span.amount 1100
                .minus-pic
                  a.minus-link(href="#")
                .plus-pic
                  a.plus-link(href="#")
          .col-xs.row.middle-xs.end-xs        
            .cost-block.start-xs
              p Стоимость
              span.cost 1320&nbsp;&#x20bd;
          .cross-block
            a.cross(href="#")
        li.row
          .col-xs.row.middle-xs.start-xs
            span.icon-cup250
            span.info
              h4 Стакан 150мл, белый
          .col-xs.row.middle-xs.center-xs
            .amount-block.start-xs
              p Количество
              span.amount 1100
                .minus-pic
                  a.minus-link(href="#")
                .plus-pic
                  a.plus-link(href="#")
          .col-xs.row.middle-xs.end-xs        
            .cost-block.start-xs
              p Стоимость
              span.cost 1320&nbsp;&#x20bd;
          .cross-block
            a.cross(href="#")
        li.row
          .col-xs.row.middle-xs.start-xs
            span.icon-cup350
            span.info
              h4 Стакан 150мл, белый
          .col-xs.row.middle-xs.center-xs
            .amount-block.start-xs
              p Количество
              span.amount 1100
                .minus-pic
                  a.minus-link(href="#")
                .plus-pic
                  a.plus-link(href="#")
          .col-xs.row.middle-xs.end-xs        
            .cost-block.start-xs
              p Стоимость
              span.cost 1320&nbsp;&#x20bd;
          .cross-block
            a.cross(href="#")
        li.row
          .col-xs.row.middle-xs.start-xs
            span.icon-cup450
            span.info
              h4 Стакан 150мл, белый
          .col-xs.row.middle-xs.center-xs
            .amount-block.start-xs
              p Количество
              span.amount 1100
                .minus-pic
                  a.minus-link(href="#")
                .plus-pic
                  a.plus-link(href="#")
          .col-xs.row.middle-xs.end-xs        
            .cost-block.start-xs
              p Стоимость
              span.cost 1320&nbsp;&#x20bd;
          .cross-block
            a.cross(href="#")
        li.row
          .col-xs.row.middle-xs.start-xs
            span.icon-cup80
            span.info
              h4 Стакан 150мл, белый
          .col-xs.row.middle-xs.center-xs
            .amount-block.start-xs
              p Количество
              span.amount 1100
                .minus-pic
                  a.minus-link(href="#")
                .plus-pic
                  a.plus-link(href="#")
          .col-xs.row.middle-xs.end-xs        
            .cost-block.start-xs
              p Стоимость
              span.cost 1320&nbsp;&#x20bd;
          .cross-block
            a.cross(href="#")
        li.row
          .col-xs.row.middle-xs.start-xs
            span.icon-cup90
            span.info
              h4 Стакан 150мл, белый
          .col-xs.row.middle-xs.center-xs
            .amount-block.start-xs
              p Количество
              span.amount 1100
                .minus-pic
                  a.minus-link(href="#")
                .plus-pic
                  a.plus-link(href="#")
          .col-xs.row.middle-xs.end-xs        
            .cost-block.start-xs
              p Стоимость
              span.cost 1320&nbsp;&#x20bd;
          .cross-block
            a.cross(href="#")                        
      .row
        .col-xs
          h3.text-price Стоимость      
        .col-xs.end-xs
          h3.text-price 12820&nbsp;&#x20bd;
      .row             
        .col-xs.end-xs
          a(href="#").order-button.orange Оформить заказ      
