extends ./layout.jade  
block content    
  .row.center-xs
    h1 Контакты
  .col-xs  
    .col-xs.row
      ul.story
        li.list-item-1
          h4 Адрес
          p 630068, г. Новосибирск, Первомайский р-н,
          p ул. Приграничная 1/3, БП Северный
        li.list-item-1
          h4 Контакты
          p Телефон: (383) 303 45 50
          p E-mail (общие вопросы): info@unikscup.ru
          p E-mail (отдел продаж): sales@unikscup.ru
          li.list-item-1
            h4 Время работы
            p Пн-пт с 9:00 до 19:00
            p Сб с 9:00 до 15:00
            p Вс - выходной
          li.list-item-1
            h4 Реквизиты компании
            p ООО Юникс
            p Инн 5407249745
            p Кпп 540701001
            p ОГРН 1155476099888 
            p Фактический адрес: 630068 , Новосибирск, Первомайский р-н, ул 
            p Приграничная 1/3, БП Северный
          li.list-item-1
            h4 Банковские реквизиты
            p р.с. 40702810606000001925
            p в АКБ Российский Капитал (ПАО) 
            p филиал Новосибирский г.Новосибирск
            p БИК 045004777,
            p к/с30101810500000000777
            p в Сибирском ГУ Банка России
    .col-xs
      img.map-pic          
 
