extends ./layout.jade 
block content
  .container-fluid.page.page-cooperation    
    .row.center-xs
      h1 Сотрудничество
    .cooperation-content
      .col-xs.row.center-xs
        h3 UNIKSCUP ищет стратегических партнеров в Уральском,&nbsp;Сибирском Федеральном Округах и на Дальнем Востоке. 
      .row
        .col-xs
          .area-pic
        .col-xs
          .col-xs
            h4 УФО
            p Екатеринбург, Курган, Салехард, Тюмень, 
            p Ханты-Мансийск, Челябинск
          .col-xs
            h4 СФО
            p Барнаул, Иркутск, Кемерово, Красноярск, Новокузнецк,
            p Омск, Томск, Улан-Удэ, Чита
          .col-xs
            h4 Дальний Восток
            p Владивосток, Петропавловск-Камчатский, Хабаровск,
            p Южно-Сахалинск, Якутск  
      .col-xs.row.center-xs
        h3 Если вас интересуют условия сотрудничества - звоните нам по телефону 
          a(href="callto:+73833034550") +7 (383) 303 45 50 
          = 'или пишите '
          a(href="mailto:partners@unikscup.ru") partners@unikscup.ru      
