extends ./layout.jade 
block content    
  .row.center-xs
    h1 Сотрудничество
  .cooperation-content
    .col-xs.row
      h3 UNIKSCUP ищет стратегических партнеров в Уральском, Сибирском Федеральном Округах и на Дальнем Востоке. 
    .row
      .col-xs
        .area-pic
      .col-xs
        .col-xs
          h4 УФО
          p Екатеринбург, Курган, Салехард, Тюмень, Ханты-Мансийск, Челябинск
        .col-xs
          h4 СФО
          p Барнаул, Иркутск, Кемерово, Красноярск, Новокузнецк, Омск, Томск, Улан-Удэ, Чита
        .col-xs
          h4 Дальний Восток
          p Владивосток, Петропавловск-Камчатский, Хабаровск, Южно-Сахалинск, Якутск  
    .col-xs.row
      h3 Если вас интересуют условия сотруднчества - звоните нам по телефону +7 (383) 303 45 50 или пишите partners@unikscup.ru      
