extends ./layout.jade 
block content
  .container-fluid.landing-page-banner
    .col-xs.manufacture
      .row
        .col-xs
          h2 Производство&nbsp;бумажных&nbsp;стаканов для горячих напитков
          p Unikscup ­ компания полного производственного цикла. Мы изготавливаем однослойные и двухслойные бумажные стаканы и пластиковые крышки для горячих напитков.
        .col-xs.row.end-xs.image-cup 
          .landingcup      
      .row
        .col-xs.catalog
          a(href="#").button-checkout Узнать&nbsp;подробнее
          span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
          a(href="#").button-checkout Скачать&nbsp;каталог
            .col-xs 
    .col-xs.why-us
      .row.center-xs
        h1 Почему мы?
      .row.around-xs
        .col-xs.row.center-xs
          .why-us1
          .rubblefix
            p &#x20bd;
          h2 Выгодная цена
          .row.center-xs
            p Покупая у нас - вы покупаете у&nbsp;производителя, а это самый выгодный вариант.
        .col-xs.row.center-xs
          .guarantees
          h2 Гарантия качества
          p Наша продукция&nbsp;сертифицирована и&nbsp;проходит автоматическую проверку на предмет протечек или брака.
        .col-xs.row.center-xs
          .car1
          h2 Оперативность доставки
          p Бесплатно довезем до указанного адреса по Новосибирску, Бердску и&nbsp;г.Обь от 1 коробки.
  .bg-unique.container-fluid
    .container-fluid.page.landing-page-unique
      .row
        .col-xs.row.center-xs
          .unique-cup
        .col-xs.end-xs
          h2 Уникальная разработка
          p Наш стакан объемом 150 мл разработан специально для использования в европейских вендинговых автоматах.
  .container-fluid   
    .row.center-xs
      h1 Наша продукция
    .row.between-xs  
      .product-item.eurovending
        .row
          .col-xs.no-grow.row.center-xs.middle-xs
            .landingcup150
          .col-xs
            .product-info
              h3 Стакан 150 мл., белый
              p Подходит для европейских вендинговых автоматов.
              p Стакан изготовлен из ламинированного картона плотностью 210 г/м2.
            .price-for-one
              .row.middle-xs
                .col-xs
                  p 1,2&nbsp;&#x20bd;
                .col-xs.amount-info  
                  span Цена&nbsp;за&nbsp;1&nbsp;шт.    
        .row.bottom-xs
          .amount-info.col-xs.center-xs
            p Продается кратно коробкам,
            p 1 коробка = 1000 штук
            p 50 штук в рукаве
          .amount-block.col-xs.col-xs.center-xs
            p Количество
            span.amount 1100
              .minus-pic
                a.minus-link(href="#")
              .plus-pic
                a.plus-link(href="#")
          .col-xs.center-xs      
            a.button-checkout Добавить&nbsp;в&nbsp;корзину
      .product-item
        .row
          .col-xs.no-grow.row.center-xs.middle-xs
            .landingcup250
          .col-xs
            .product-info
              h3 Стакан 250 мл., белый
              p Подходит для горячих или холодных напитков безо льда. Стакан изготовлен из ламинированного картона плотностью 270 г/м2. Для данного стакана подходят крышки 80 мм.
            .price-for-one
              .row.middle-xs
                .col-xs
                  p 2,0&nbsp;&#x20bd;
                .col-xs.amount-info  
                  span Цена&nbsp;за&nbsp;1&nbsp;шт.  
        .row.bottom-xs
          .amount-info.col-xs.center-xs
            p Продается кратно коробкам,
            p 1 коробка = 1000 штук
            p 50 штук в рукаве
          .amount-block.col-xs.center-xs
            p Количество
            span.amount 1100
              .minus-pic
                a.minus-link(href="#")
              .plus-pic
                a.plus-link(href="#")
          .col-xs.center-xs      
            a.button-checkout Добавить&nbsp;в&nbsp;корзину  
      .product-item
        .row
          .col-xs.no-grow.row.center-xs.middle-xs
            .landingcup350
          .col-xs
            .product-info
              h3 Стакан 350 мл., белый
              p Подходит для горячих или холодных напитков безо льда. Стакан изготовлен из ламинированного картона плотностью 300&nbsp;г/м2. Для данного стакана подходят крышки 90 мм
            .price-for-one
              .row.middle-xs
                .col-xs
                  p 3,5&nbsp;&#x20bd;
                .col-xs.amount-info  
                  span Цена&nbsp;за&nbsp;1&nbsp;шт.    
        .row.bottom-xs
          .amount-info.col-xs.center-xs
            p Продается кратно коробкам,
            p 1 коробка = 1000 штук
            p 50 штук в рукаве
          .amount-block.col-xs.center-xs
            p Количество
            span.amount 1100
              .minus-pic
                a.minus-link(href="#")
              .plus-pic
                a.plus-link(href="#")
          .col-xs.center-xs      
            a.button-checkout Добавить&nbsp;в&nbsp;корзину        
      .product-item
        .row
          .col-xs.no-grow.row.center-xs.middle-xs
            .landingcup450
          .col-xs
            .product-info
              h3 Стакан 450 мл., белый
              p Подходит для горячих или холодных напитков безо льда. Стакан изготовлен из ламинированного картона плотностью 320&nbsp;г/м2. Для данного стакана подходят крышки 90 мм.
            .price-for-one
              .row.middle-xs
                .col-xs
                  p 3,5&nbsp;&#x20bd;
                .col-xs.amount-info  
                  span Цена&nbsp;за&nbsp;1&nbsp;шт.    
        .row.bottom-xs
          .amount-info.col-xs.center-xs
            p Продается кратно коробкам,
            p 1 коробка = 1000 штук
            p 50 штук в рукаве
          .amount-block.col-xs.center-xs
            p Количество
            span.amount 1100
              .minus-pic
                a.minus-link(href="#")
              .plus-pic
                a.plus-link(href="#")
          .col-xs.center-xs      
            a.button-checkout Добавить&nbsp;в&nbsp;корзину  
      .product-item
        .row
          .col-xs.no-grow.row.center-xs.middle-xs
            .landing2layerscup350
          .col-xs
            .product-info.soon
              h3 Стакан 350 мл., белый
              p Подходит для горячих или холодных напитков безо льда. Стакан изготовлен из ламинированного картона плотностью 300&nbsp;г/м2. Для данного стакана подходят крышки 90 мм
              h2 Скоро
              span Ожидается весной 2016       
        .row.bottom-xs
          .col-xs.center-xs.end-xs      
            a.grey-button Добавить&nbsp;в&nbsp;корзину        
      .product-item
        .row
          .col-xs.no-grow.row.center-xs.middle-xs
            .landing2layerscup450
          .col-xs
            .product-info.soon
              h3 Стакан 450 мл., белый
              p Подходит для горячих или холодных напитков безо льда. Стакан изготовлен из ламинированного картона плотностью 320&nbsp;г/м2. Для данного стакана подходят крышки 90 мм.
              h2 Скоро
              span Ожидается весной 2016   
        .row.bottom-xs
          .col-xs.center-xs.end-xs      
            a.grey-button Добавить&nbsp;в&nbsp;корзину          
    .row.center-xs
      h1 КРЫШКИ ДЛЯ СТАКАНОВ             
    .row.around-xs  
      .product-item
        .row
          .col-xs.row.middle-xs.no-grow.center-xs
            .cup-cover80
            .amount-info.col-xs.center-xs
              p Продается&nbsp;кратно&nbsp;коробкам,
              p 1 коробка = 1000 штук
          .col-xs
            .product-info
              h3 Пластиковая крышка (80&nbsp;мм)       
              p Изготовлена из пищевого полиэтилена и&nbsp;оснащена питейником. 
              p Подходит для стаканов объемом 250 мл.
            .price-for-one
              .row.middle-xs
                .col-xs
                  p 1,5&nbsp;&#x20bd;
                .col-xs.amount-info  
                  span Цена&nbsp;за&nbsp;1&nbsp;шт.    
        .row.bottom-xs
          .col-xs
            p Цвет
            select(id="color")
              option Белый
              option Красный
          .amount-block.col-xs.center-xs
            p Количество
            span.amount 1100
              .minus-pic
                a.minus-link(href="#")
              .plus-pic
                a.plus-link(href="#")
          .col-xs.center-xs      
            a.button-checkout Добавить&nbsp;в&nbsp;корзину 
      .product-item
        .row
          .col-xs.row.middle-xs.no-grow.center-xs
            .cup-cover90
            .amount-info.col-xs.center-xs
              p Продается&nbsp;кратно&nbsp;коробкам,
              p 1 коробка = 1000 штук
          .col-xs
            .product-info
              h3 Пластиковая крышка (90&nbsp;мм)       
              p Изготовлена из пищевого полиэтилена и&nbsp;оснащена питейником. 
              p Подходит для стаканов объемом 350 и 450 мл.
            .price-for-one
              .row.middle-xs
                .col-xs
                  p 2,0&nbsp;&#x20bd;
                .col-xs.amount-info  
                  span Цена&nbsp;за&nbsp;1&nbsp;шт.    
        .row.bottom-xs
          .col-xs
            p Цвет
            select(id="color")
              option Белый
              option Красный
          .amount-block.col-xs.center-xs
            p Количество
            span.amount 1100
              .minus-pic
                a.minus-link(href="#")
              .plus-pic
                a.plus-link(href="#")
          .col-xs.center-xs      
            a.button-checkout Добавить&nbsp;в&nbsp;корзину      
  .bg-blue.container-fluid
    .container-fluid.page.landing-page-brand-cups
      .row
        .col-xs
          h2 Брендированные стаканы
          p Мы можем изготовить стаканы с вашим дизайном или&nbsp;нанести логотип с помощью флексографической&nbsp;печати
          h2 Скоро!
          p ожидается в первой половине 2016
        .col-xs.row.center-xs
          .brand-cup
  .container-fluid.page.landing-page-delivery      
    .col-xs.delivery
      .row.center-xs
        h1 Получить наши стаканы невероятно просто
      br  
      .row.around-xs
        .col-xs.row.center-xs
          .delivery1
          h2 Выберите нужные стаканы
          p Добавьте товары в корзину и оформите заказ.
        .col-xs.row.center-xs
          .delivery2
          h2 Наш менеджер свяжется с вами
          p Для согласования времени и места доставки, а также способа оплаты.
        .col-xs.row.center-xs
          .delivery3
          h2 Курьер доставит ваш заказ
          p Мы предлагам доставку на следующий день после подтверждения заказа.     
  .bg-questions.container-fluid          
    .landing-page-questions        
      .row.middle-xs
        .col-xs.no-grow
          h2 Остались вопросы?
          p Закажите обратный звонок и наш менеджер свяжется с вами в ближайшее время.
        .col-xs
          form.row.middle-xs
            .col-xs
              input(required=true type="text" placeholder="Имя" id="name")
            .col-xs          
              input(required=true type="text" placeholder="Номер телефона" id="phone-number")
            .col-xs.no-grow  
              a.order-button.orange Позвоните&nbsp;мне  

      
