extends ./layout.jade
block content        
  .bgimage
    .row.center-xs
      h1 UNIKSCUP
    .row.center-xs
      p компания полного<br>производственного цикла
      
  .howwedoit
    .col-xs.row
      h3 Мы изготавливаем однослойные и двухслойные бумажные стаканы и пластиковые крышки для горячих напитков. Производство располагается в Сибирском федеральном округе, в городе Новосибирск.
      p Для изготовления нашей продукции мы используем высокотехнологичное оборудование зарубежных компаний и качественное сырье. Мы производим стаканы объемом 150, 250, 350 и 450 мл белые и со стандартным дизайном. Если вы хотите заказать брендированные стаканы с вашим логотипом или рисунком, мы также можем сделать это по вашему желанию по технологии флексографической печати. Палитра цветов не ограничивается одним-двумя или несколькими цветами, мы можем наносить всю палитру по схеме флексографической печати CMYK.
      p Мы гордимся своей разработкой вендингового стакана. Он уникален, так как подходит для всех европейских вендинговых машин.
      ol
        li 
          p Толщина кромки стакана составляет 1.9+/-0.1мм
        li 
          p Верхний диаметр составляет 70.3+/-0.1мм. 
      p Данная точность обеспечит вам бесперебойность работы вашего вендингового оборудования, а ваши клиенты всегда получат желаемый напиток в удобном и приятном на ощупь бумажном стакане.    
      h2 История создания вашего бумажного стаканчика начинается с закупки бумаги мирового стандарта качества.
      ul.story
        li.list-item-1
          h4 Печать
          p Для изготовления стакана с рисунком, мы используем флексографическую печатную машину. С помощью экологической печати водными чернилами мы наносим на стаканчик ваш фирменный логотип или любое другое изображение по вашему желанию.
        li.list-item-2
          h4 Высечка
          p Для следующего этапа производства используется высокоточная скоростная гильотинно-резательная машина, которая вырезает заготовки ваших будущих стаканчиков. Станок гарантирует стабильную и надежную работу, что обеспечит точную расположение элементов на вашем стакане.
        li.list-item-3
          h4 Формовка
          p Далее заготовки попадают в машину для сборки бумажных стаканов. Машина выполняет спаивание стенок, а также прикрепляет дно стакана. Верхняя кромка вашего стаканчика обрабатывается дважды, тем самым увеличивая прочность, стабильность диаметра стакана и приятные тактильные ощущения.    
      p Чтобы гарантировать качество выпускаемой продукции, наше оборудование снабжено фотоэлектрической системой обнаружения ошибок и может определить поврежденные стаканы, а также пятна или дефекты. Благодаря автоматическому выявлению дефектов вы можете быть уверены в качестве наших стаканов и в удовлетворенности своих клиентов (сотрудничая с нами, вы можете быть уверены в репутации своего бизнеса).
      p Мы сами производим крышки для бумажных стаканов. Благодаря этому, мы предлагаем вам 4 цветовых решений наших крышек, которые будут соответствовать вашему фирменному стилю. Вы также можете выбрать необходимые аксессуары для стаканчиков, чтобы вам и вашим клиентам было комфортно использовать нашу продукцию.  
      p Теперь Ваш стаканчик сформирован, упакован и готов к доставке.Если у вас возникли какие-либо вопросы - звоните/пишите нам или закажите обратный звонок. Мы с радостью ответим на ваши вопросы и удовлетворим все ваши пожелания.
          

         
