extends ./layout.jade
block content        
  .bgimage
    .row.middle-xs.center-xs
      h1 UNIKSCUP
    .row.middle-xs.center-xs
      p компания полного<br>производственного цикла
      
  .howwedoit
    .col-xs.row
      h3 
          

         
