extends ./layout.jade  
block content     
  .row.center-xs
    h1 Оформление заказа
  .row.order-start
    .col-xs
      .order-list
        .order-progress-bar.row.between-xs
          .col-xs.left.step-1.active
            .order-progress-circle.center-xs  
              p.step-description Заказчик
          .col-xs.middle.step-2    
            .order-progress-circle.center-xs
              p.step-description Доставка
          .col-xs.right.step-3    
            .order-progress-circle.center-xs
              p.step-description Заказ

        form
          .form-step.step-1.active
            h3 Компания
            .form-control
              p Название компании
              input(required=true type="text" placeholder="Полное юридическое название компании" id="company_name")  
            h3 Контакты
            .form-control
              p ФИО контакного лица    
              input(required=true type="text" placeholder="Фамилия, имя и отчество представителя компании" id="name") 
            .form-control
              p Электронная почта    
              input(type="text" placeholder="Мы пришлем счет на оплату на этот адрес" id="email") 
            .form-control
              p Телефон    
              input(type="text" placeholder="Мы позвоним для уточнения деталей и согласования доставки" id="phone")   
            .row.end-xs
              .col-xs
                a.button-checkout.next-step-button(href="#" data-type="next" data-step="step-1") Далее
          .form-step.step-2
            h3 Способ доставки
            .row
              div
                .form-control.row
                  .col-xs.radio
                    input(id="pickup" type="radio" name="delivery" value="pickup")
                    label(for="pickup")
                  .col-xs
                    p Самовывоз
                    span со склада в г.Новосибирске
              div
                .form-control.row
                  .col-xs.radio
                    input(id="courier" type="radio" name="delivery" value="pickup")    
                    label(for="courier")
                  .col-xs
                    p Доставка по Новосибирску
                    span Курьерская
              div
                .form-control.row
                  .col-xs.radio
                    input(id="terminal" type="radio" name="delivery" value="pickup")
                    label(for="terminal")
                  .col-xs
                    p Доставка до терминала ТК                        
            h3 Адрес доставки
            .form-control 
              p Город
              input(type="text" placeholder="Новосибирск")
            .form-control 
              p Улица
              input(type="text" placeholder="Инженерная")
            .row
              .col-xs
                .form-control 
                  p Дом
                  input(type="text" placeholder="10")
              .col-xs
                .form-control 
                  p Корпус
                  input(type="text" placeholder="10")
              .col-xs
                .form-control 
                  p Строение
                  input(type="text" placeholder="10")
              .col-xs
                .form-control 
                  p Офис
                  input(type="text" placeholder="10") 
            .form-control 
              p Примечания
              textarea(type="text" placeholder="Кого спросить на вахте, есть ли шлагбаум на въезде на территорию и так далее...") 
            .row.middle-xs      
              .col-xs
                a.grey-button.prev-step-button(href="#" data-type="prev" data-step="step-2") Назад
              .col-xs.end-xs
                a.button-checkout.next-step-button(href="#" data-type="next" data-step="step-2") Далее
          .form-step.step-3
            h3 Реквизиты компании
            
            .form-control
              p Для экономии времени, вы можете ввести реквизиты вашей компании сейчас и мы сразу же выставим счет.
            
            .row
              div
                .form-control.row
                  .col-xs.radio
                    input(id="now" type="radio" name="requisites" value="now")
                    label(for="now")
                  .col-xs
                    p Потом
                    span Также вы можете отправить реквизиты по электронной почте
              div
                .form-control.row
                  .col-xs.radio
                    input(id="later" type="radio" name="requisites" value="later")    
                    label(for="later")
                  .col-xs
                    p Сейчас
                    span Открыть форму заполнения
                    
            .row                 
              .form-control.col-xs
                p ИНН
                input(type="text" placeholder="5407249745")
              .form-control.col-xs
                p КПП
                input(type="text" placeholder="540701001")  
              .form-control.col-xs
                p ОГРН
                input(type="text" placeholder="1155476099888")       
            .form-control
              p Юридический адрес
              input(type="text" placeholder="630090 г. Новосибирск, ул. Николаева, 12") 
            .form-control
              p Фактический адрес
              input(type="text" placeholder="630090 г. Новосибирск, ул. Николаева, 12")          
            .row                 
              .form-control.col-xs(style="flex-grow: 0.9;")
                p БИК
                input(type="text" placeholder="045004777")
              .form-control.col-xs
                p Расчетный счет
                input(type="text" placeholder="40702810606000001925")  
              .form-control.col-xs
                p Корреспондентский счет
                input(type="text" placeholder="40702810606000001925")  
            .form-control
              p Наименование банка
              input(type="text" pladceholder="АКБ Российский Капитал (ПАО) филиал Новосибирский г.Новосибирск")      
            .row.middle-xs      
              .col-xs
                a.grey-button.prev-step-button(href="#" data-type="prev" data-step="step-3") Назад
              .col-xs.end-xs
                a.button-checkout.next-step-button(href="#" data-type="next" data-step="step-3") Далее
                
    .col-xs.order-right-pane    
      .col-xs-offset-1.row.bottom-xs
        h3 Ваш заказ
      ul.order.no-padding
        li.row
          .col-xs.row.middle-xs.start-xs
            span.icon-cup150
            span.info
              h4 Стакан 150мл, белый
          .col-xs.row.middle-xs.end-xs
            .amount-block.start-xs
              p Количество
              span.amount 1100
          .col-xs.row.middle-xs.end-xs        
            .cost-block.start-xs
              p Стоимость
              span.cost 1320&nbsp;&#x20bd;
        li.row
          .col-xs.row.middle-xs.start-xs
            span.icon-cup150
            span.info
              h4 Стакан 150мл, белый
          .col-xs.row.middle-xs.end-xs
            .amount-block.start-xs
              p Количество
              span.amount 1100
          .col-xs.row.middle-xs.end-xs        
            .cost-block.start-xs
              p Стоимость
              span.cost 1320&nbsp;&#x20bd;
      .row.end-xs
        .col-xs
          p.text-price 3320&nbsp;&#x20bd;  
      .step-2.hidden      
        .row
          .col-xs
            h3 Заказчик
        .row
          ul.order.no-padding
            li
              h3.company_name ООО "Рога и копыта"
              p.name Иванов Иван Иванович
              p.email ivan.ivan@gmail.com
              p.phone 8 913 987 65 43
      .step-3.hidden        
        .row
          .col-xs
            h3 Доставка
        .row
          ul.order.no-padding
            li
              h3 Курьерская служба СДЭК
              p 630090 Новосибирск,
              p ул.Николаева, 12, офис 520 
  .row
    .form-step.step-final
      .row.center-xs
        h2 Готово
        p Проверьте правильность введенных данных. После этого, нажмите на кнопку "подтвердить заказ" для того, чтобы отправить заказ в обработку.
        br
        br
        br
      .row
        .col-xs.no-grow
          h3 Заказчик
        ul.col-xs.col-xs-offset-1.order.no-padding
          li
            h3 ООО "Рога и копыта"
            p Иванов Иван Иванович
            p ivan.ivan@gmail.com
            p 8 913 987 65 43
      .row
        .col-xs.no-grow
          h3 Доставка
        ul.col-xs.col-xs-offset-1.order.no-padding
          li
            h3 Курьерская служба СДЭК
            p 630090 Новосибирск,
            p ул.Николаева, 12, офис 520
      .row
        .col-xs.no-grow
          h3 Ваш заказ
        ul.order.col-xs.col-xs-offset-1
          li.row
            .col-xs.row.middle-xs.start-xs
              span.icon-cup150
              span.info
                h4 Стакан 150мл, белый
            .col-xs.row.middle-xs.center-xs
              .amount-block.start-xs
                p Количество
                span.amount 1100
            .col-xs.row.middle-xs.end-xs        
              .cost-block.start-xs
                p Стоимость
                span.cost 1320&nbsp;&#x20bd;
          li.row
            .col-xs.row.middle-xs.start-xs
              span.icon-cup150
              span.info
                h4 Стакан 150мл, белый
            .col-xs.row.middle-xs.center-xs
              .amount-block.start-xs
                p Количество
                span.amount 1100
            .col-xs.row.middle-xs.end-xs        
              .cost-block.start-xs
                p Стоимость
                span.cost 1320&nbsp;&#x20bd;      
      .row
        .col-xs.no-grow
          h3 Реквизиты
        ul.col-xs.col-xs-offset-1.order.no-padding
          li
            h3 ООО "Рога и копыта"
            p Иванов Иван Иванович
            p ivan.ivan@gmail.com
            p 8 913 987 65 43
        ul.col-xs.order
          li
            p ИНН 123123123123123
            p КПП 123123123123123
            p ОГРН 123123123123123123123
      .form-control
        p Примечания к заказу
        textarea(type="text" placeholder="Сообщите нам информацию, которую вы считаете важной, не вошедшую в предыдущие шаги")
      .row.middle-xs
        .col-xs
          a.grey-button.prev-step-button(href="#" data-type="prev" data-step="step-final") Назад
        .col-xs.end-xs
          a.orange.order-button.next-step-button(href="#" data-type="next" data-step="step-final") Подтвердить заказ           
