extends ./layout.jade 
block content
  .container-fluid.page.page-products
    .row.center-xs
      h1 БУМАЖНЫЕ СТАКАНЫ
    .row.around-xs  
      .product-item
        .row
          .col-xs.no-grow.row.center-xs
            .cup150
          .col-xs
            .product-info
              h3 Стакан 150 мл., белый
              p Подходит для европейских вендинговых автоматов.
              p Стакан изготовлен из ламинированного картона плотностью 210 г/м2.
            .price-for-one
              .row.middle-xs
                .col-xs
                  p 1,2&nbsp;&#x20bd;
                .col-xs.amount-info  
                  span Цена&nbsp;за&nbsp;1&nbsp;шт.    
        .row.bottom-xs
          .amount-info.col-xs.center-xs
            p Продается кратно коробкам,
            p 1 коробка = 1000 штук
            p 50 штук в рукаве
          .amount-block.col-xs.col-xs.center-xs
            p Количество
            span.amount 1100
              .minus-pic
                a.minus-link(href="#")
              .plus-pic
                a.plus-link(href="#")
          .col-xs.center-xs      
            a.button-checkout Добавить&nbsp;в&nbsp;корзину
      .product-item
        .row
          .col-xs.no-grow.row.center-xs.row.center-xs
            .cup250
          .col-xs
            .product-info
              h3 Стакан 250 мл., белый
              p Подходит для горячих или холодных напитков безо льда. Стакан изготовлен из ламинированного картона плотностью 270 г/м2. Для данного стакана подходят крышки 80 мм.
            .price-for-one
              .row.middle-xs
                .col-xs
                  p 2,0&nbsp;&#x20bd;
                .col-xs.amount-info  
                  span Цена&nbsp;за&nbsp;1&nbsp;шт.  
        .row.bottom-xs
          .amount-info.col-xs.center-xs
            p Продается кратно коробкам,
            p 1 коробка = 1000 штук
            p 50 штук в рукаве
          .amount-block.col-xs.center-xs
            p Количество
            span.amount 1100
              .minus-pic
                a.minus-link(href="#")
              .plus-pic
                a.plus-link(href="#")
          .col-xs.center-xs      
            a.button-checkout Добавить&nbsp;в&nbsp;корзину  
      .product-item
        .row
          .col-xs.no-grow.row.center-xs
            .cup350
          .col-xs
            .product-info
              h3 Стакан 350 мл., белый
              p Подходит для горячих или холодных напитков безо льда. Стакан изготовлен из ламинированного картона плотностью 300&nbsp;г/м2. Для данного стакана подходят крышки 90 мм
            .price-for-one
              .row.middle-xs
                .col-xs
                  p 3,5&nbsp;&#x20bd;
                .col-xs.amount-info  
                  span Цена&nbsp;за&nbsp;1&nbsp;шт.    
        .row.bottom-xs
          .amount-info.col-xs.center-xs
            p Продается кратно коробкам,
            p 1 коробка = 1000 штук
            p 50 штук в рукаве
          .amount-block.col-xs.center-xs
            p Количество
            span.amount 1100
              .minus-pic
                a.minus-link(href="#")
              .plus-pic
                a.plus-link(href="#")
          .col-xs.center-xs      
            a.button-checkout Добавить&nbsp;в&nbsp;корзину        
      .product-item
        .row
          .col-xs.no-grow.row.center-xs
            .cup450
          .col-xs
            .product-info
              h3 Стакан 450 мл., белый
              p Подходит для горячих или холодных напитков безо льда. Стакан изготовлен из ламинированного картона плотностью 320&nbsp;г/м2. Для данного стакана подходят крышки 90 мм.
            .price-for-one
              .row.middle-xs
                .col-xs
                  p 3,5&nbsp;&#x20bd;
                .col-xs.amount-info  
                  span Цена&nbsp;за&nbsp;1&nbsp;шт.    
        .row.bottom-xs
          .amount-info.col-xs.center-xs
            p Продается кратно коробкам,
            p 1 коробка = 1000 штук
            p 50 штук в рукаве
          .amount-block.col-xs.center-xs
            p Количество
            span.amount 1100
              .minus-pic
                a.minus-link(href="#")
              .plus-pic
                a.plus-link(href="#")
          .col-xs.center-xs      
            a.button-checkout Добавить&nbsp;в&nbsp;корзину      
    .row.center-xs
      h1 КРЫШКИ ДЛЯ СТАКАНОВ             
    .row.around-xs  
      .product-item
        .row
          .col-xs.row.middle-xs.no-grow.center-xs
            .cup-cover80
            .amount-info.col-xs.center-xs
              p Продается&nbsp;кратно&nbsp;коробкам,
              p 1 коробка = 1000 штук
          .col-xs
            .product-info
              h3 Пластиковая крышка (80&nbsp;мм)       
              p Изготовлена из пищевого полиэтилена и&nbsp;оснащена питейником. 
              p Подходит для стаканов объемом 250 мл.
            .price-for-one
              .row.middle-xs
                .col-xs
                  p 1,5&nbsp;&#x20bd;
                .col-xs.amount-info  
                  span Цена&nbsp;за&nbsp;1&nbsp;шт.    
        .row.bottom-xs
          .col-xs
            p Цвет
            select(id="color")
              option Белый
              option Красный
          .amount-block.col-xs.center-xs
            p Количество
            span.amount 1100
              .minus-pic
                a.minus-link(href="#")
              .plus-pic
                a.plus-link(href="#")
          .col-xs.center-xs      
            a.button-checkout Добавить&nbsp;в&nbsp;корзину 
      .product-item
        .row
          .col-xs.row.middle-xs.no-grow.center-xs
            .cup-cover90
            .amount-info.col-xs.center-xs
              p Продается&nbsp;кратно&nbsp;коробкам,
              p 1 коробка = 1000 штук
          .col-xs
            .product-info
              h3 Пластиковая крышка (90&nbsp;мм)       
              p Изготовлена из пищевого полиэтилена и&nbsp;оснащена питейником. 
              p Подходит для стаканов объемом 350 и 450 мл.
            .price-for-one
              .row.middle-xs
                .col-xs
                  p 2,0&nbsp;&#x20bd;
                .col-xs.amount-info  
                  span Цена&nbsp;за&nbsp;1&nbsp;шт.    
        .row.bottom-xs
          .col-xs
            p Цвет
            select(id="color")
              option Белый
              option Красный
          .amount-block.col-xs.center-xs
            p Количество
            span.amount 1100
              .minus-pic
                a.minus-link(href="#")
              .plus-pic
                a.plus-link(href="#")
          .col-xs.center-xs      
            a.button-checkout Добавить&nbsp;в&nbsp;корзину           
