doctype html
html(lang="en")
  head
    link(rel="stylesheet" href="dist/flexboxgrid.min.css" type="text/css")
    link(rel="stylesheet" href="dist/style.css" type="text/css")
    link(href='https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css')
    title
      = 'Unikscup'
    
  body 
    header
      .row.header_top
        .col-xs
          a.logo(href="#") Unikscup
        .col-xs.row.middle-xs
          .col-xs.text-right
            p г.Новосибирск
            p ул.Приграничная
            p.top_offset_5
              a(href="mailto:info@unikscup.ru") info@unikscup.ru
          .col-xs      
            p.phone +7 (383) 303 45 50
            a.order_button(href="#") Заказать обратный звонок
      .row.header_bottom
            
          
         
