doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    link(rel="stylesheet" href="dist/flexboxgrid.css" type="text/css")
    link(rel="stylesheet" href="dist/style.css" type="text/css")
    link(href='https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css')
    title
      = 'Unikscup'
    
  body 
    header
      .row.header-top
        .col-xs-3
          a.logo(href="#") Unikscup
        .col-xs-9.row.middle-xs.end-xs
          .contacts.text-right
            p г.Новосибирск
            p ул.Приграничная
            p.top-offset-5
              a(href="mailto:info@unikscup.ru") info@unikscup.ru
          .center-xs      
            p.phone +7&nbsp;(383)&nbsp;303&nbsp;45&nbsp;50
            a.order-button(href="#") Заказать&nbsp;обратный&nbsp;звонок
      .row.header-bottom
        ul.nav.col-xs-8.middle-xs
          li
            a(href="#") Главная
          li
            a(href="#") Продукция
          li
            a(href="#") Сотрудничество
          li
            a(href="#") О компании
          li
            a(href="#") Контакты   
        .row.col-xs-4.end-xs.middle-xs
          a.col-xs.row.middle-xs(href="#")
            span.icon.icon-cart
            span В корзине 2 товара
          .row.col-xs
            a.button-checkout(href="#") оформить заказ            
    .container.basket
      .row.center-xs
        h1 Корзина
      .row.order-list
        .col-xs-offset-1
          h3 Ваш заказ
        ul.order
          li.row
            .col-xs.row.middle-xs
              span.icon-cup
              span.info
                h4 Стакан 150мл, белый
                p Изготовлен из ламинированного картона плотностью 210 г/м2
            .col-xs
              p Количество
              span.amount 1000
              p Стоимость
              span.total-cost 1320
    footer
      .container
        .row.footer-content.start-xs
          .col-xs
            h4 Разделы
            ul
              li
                a(href="#") Главная
              li
                a(href="#") Продукция
              li
                a(href="#") Сотрудничество
              li
                a(href="#") О Компании
              li
                a(href="#") Контакты     
          .col-xs
            h4 Обратная связь
            ul 
              li 
                a(href="mailto:info@unikscup.ru") info@unikscup.ru
              li 
                a(href="callto:+73833034550") +7 (383) 303 45 50
          .col-xs
            h4 Компания
            ul
              li ООО "ЮНИКС"
              li 630068, Россия, Новосибирск ул.Приграничная&nbsp;1/3
              li Работаем с 9:00 до 18:00 с&nbsp;понедельника&nbsp;по&nbsp;пятницу<br>Суббота&nbsp;-&nbsp;9:00&nbsp;-&nbsp;15:00<br>Вс&nbsp;-&nbsp;выходной
          .col-xs 
            h4 Правовая информация
            ul
              li &copy; ООО "ЮНИКС"
              li Все права защищены.
         
