doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    link(rel="stylesheet" href="dist/flexboxgrid.css" type="text/css")
    link(rel="stylesheet" href="dist/style.css" type="text/css")
    link(href='https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css')
    title
      = 'Unikscup'
    
  body 
    header
      .row.header_top
        .col-xs-3
          a.logo(href="#") Unikscup
        .col-xs-9.row.middle-xs.end-xs
          .contacts.text-right
            p г.Новосибирск
            p ул.Приграничная
            p.top_offset_5
              a(href="mailto:info@unikscup.ru") info@unikscup.ru
          .center-xs      
            p.phone +7&nbsp;(383)&nbsp;303&nbsp;45&nbsp;50
            a.order_button(href="#") Заказать&nbsp;обратный&nbsp;звонок
      .row.header_bottom
        ul.nav.col-xs-8.middle-xs
          li
            a(href="#") Главная
          li
            a(href="#") Продукция
          li
            a(href="#") Сотрудничество
          li
            a(href="#") О компании
          li
            a(href="#") Контакты   
        .row.col-xs-4.end-xs.middle-xs
          a.col-xs.row.middle-xs(href="#")
            span.icon.icon_cart
            span В корзине 2 товара
          .row.col-xs
            a.button_checkout(href="#") оформить заказ            
    .container.basket
      .row.center-xs
        h1 Корзина
      .row.order_list
        .col-xs-offset-1
          h3 Ваш заказ
        ul.order
          li.row
            .col-xs-offset-1.row.middle-xs
              span.icon_cup
              span.info
                h4 Стакан 150мл, белый
                p Изготовлен из ламинированного картона плотностью 210 г/м2
            .col-xs
              span.amount 1000
              span. 1320
    footer
      .row.footer_content      
         
