doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    link(rel="stylesheet" href="dist/flexboxgrid.css" type="text/css")
    link(rel="stylesheet" href="dist/style.css" type="text/css")
    link(href='https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css')
    script(src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript")
    title
      = 'Unikscup'
    
  body 
    header
      .header-top
        .container
          .row.middle-xs
            .col-xs-4
              a.logo(href="#") Unikscup
            .col-xs-8.row.middle-xs.end-xs
              .contacts.text-right
                p г.Новосибирск
                p ул.Приграничная
                p.top-offset-5
                  a(href="mailto:info@unikscup.ru") info@unikscup.ru
              .center-xs      
                p.phone +7&nbsp;(383)&nbsp;303&nbsp;45&nbsp;50
                a.order-button(href="#") Заказать&nbsp;обратный&nbsp;звонок
      .header-bottom
        .container
          .row.end-xs
            .col-xs.row.middle-xs.nav-button
              span
                a(href="#")
            ul.row.nav.col-sm.middle-xs
              li
                a(href="#") Главная
              li
                a(href="#") Продукция
              li
                a(href="#") Сотрудничество
              li
                a(href="#") О компании
              li
                a(href="#") Контакты   
            .row.end-xs.middle-xs
              span
                a(href="#")
                  span.icon.icon-cart
                    p В&nbsp;корзине&nbsp;2&nbsp;товара
              span
                a.button-checkout(href="#") оформить заказ          
    .container.basket
      .row.center-xs
        h1 Оформление заказа
      .row
        .col-xs
          .order-list
            .order-progress-bar.row.between-xs
              .col-xs.left.step-1.active
                .order-progress-circle.center-xs  
                  p.step-description Заказчик
              .col-xs.middle.step-2    
                .order-progress-circle.center-xs
                  p.step-description Доставка
              .col-xs.right.step-3    
                .order-progress-circle.center-xs
                  p.step-description Заказ
                
            form
              .form-step.step-1.active
                h3 Компания
                .form-control
                  p Название компании
                  input(type="text" placeholder="Полное юридическое название компании")  
                h3 Контакты
                .form-control
                  p ФИО контакного лица    
                  input(type="text" placeholder="Фамилия, имя и отчество представителя компании") 
                .form-control
                  p Электронная почта    
                  input(type="text" placeholder="Мы пришлем счет на оплату на этот адрес") 
                .form-control
                  p Телефон    
                  input(type="text" placeholder="Мы позвоним для уточнения деталей и согласования доставки")   
                .row.end-xs
                  .col-xs
                    a.button-checkout(href="#") Далее
              .form-step.step-2
                h3 Способ доставки
                .row
                  div
                    .form-control.row
                      .col-xs.radio
                        input(id="pickup" type="radio" name="delivery" value="pickup")
                        label(for="pickup")
                      .col-xs
                        p Самовывоз
                        span со склада в г.Новосибирске
                  div
                    .form-control.row
                      .col-xs.radio
                        input(id="courier" type="radio" name="delivery" value="pickup")    
                        label(for="courier")
                      .col-xs
                        p Доставка по Новосибирску
                        span Курьерская
                  div
                    .form-control.row
                      .col-xs.radio
                        input(id="terminal" type="radio" name="delivery" value="pickup")
                        label(for="terminal")
                      .col-xs
                        p Доставка до терминала ТК                        
                h3 Адрес доставки
                .form-control 
                  p Город
                  input(type="text" placeholder="Новосибирск")
                .form-control 
                  p Улица
                  input(type="text" placeholder="Инженерная")
                .row
                  .col-xs
                    .form-control 
                      p Дом
                      input(type="text" placeholder="10")
                  .col-xs
                    .form-control 
                      p Корпус
                      input(type="text" placeholder="10")
                  .col-xs
                    .form-control 
                      p Строение
                      input(type="text" placeholder="10")
                  .col-xs
                    .form-control 
                      p Офис
                      input(type="text" placeholder="10") 
                .form-control 
                  p Примечания
                  textarea(type="text" placeholder="Кого спросить на вахте, есть ли шлагбаум на въезде на территорию и так далее...") 
                .row.middle-xs      
                  .col-xs
                    a.grey-button(href="#") Назад
                  .col-xs.end-xs
                    a.button-checkout(href="#") Далее 
              .form-step.step-3
                h3 Реквизиты компании
                
                .form-control
                  p Для экономии времени, вы можете ввести реквизиты вашей компании сейчас и мы сразу же выставим счет.
                
                .row
                  div
                    .form-control.row
                      .col-xs.radio
                        input(id="pickup" type="radio" name="delivery" value="pickup")
                        label(for="pickup")
                      .col-xs
                        p Потом
                        span Также вы можете отправить реквизиты по электронной почте
                  div
                    .form-control.row
                      .col-xs.radio
                        input(id="courier" type="radio" name="delivery" value="pickup")    
                        label(for="courier")
                      .col-xs
                        p Сейчас
                        span Открыть форму заполнения
                        
                .row                 
                  .form-control.col-xs
                    p ИНН
                    input(type="text" placeholder="5407249745")
                  .form-control.col-xs
                    p КПП
                    input(type="text" placeholder="540701001")  
                  .form-control.col-xs
                    p ОГРН
                    input(type="text" placeholder="1155476099888")       
                .form-control
                  p Юридический адрес
                  input(type="text" placeholder="630090 г. Новосибирск, ул. Николаева, 12") 
                .form-control
                  p Фактический адрес
                  input(type="text" placeholder="630090 г. Новосибирск, ул. Николаева, 12")          
                .row                 
                  .form-control.col-xs(style="flex-grow: 0.9;")
                    p БИК
                    input(type="text" placeholder="045004777")
                  .form-control.col-xs
                    p Расчетный счет
                    input(type="text" placeholder="40702810606000001925")  
                  .form-control.col-xs
                    p Корреспондентский счет
                    input(type="text" placeholder="40702810606000001925")  
                .form-control
                  p Наименование банка
                  input(type="text" pladceholder="АКБ Российский Капитал (ПАО) филиал Новосибирский г.Новосибирск")      
                .row.middle-xs      
                  .col-xs
                    a.grey-button(href="#") Назад
                  .col-xs.end-xs
                    a.button-checkout(href="#") Далее  

                    
        .col-xs    
          .col-xs-offset-1.row.bottom-xs
            h3 Ваш заказ
          ul.order
            li.row
              .col-xs.row.middle-xs.start-xs
                span.icon-cup150
                span.info
                  h4 Стакан 150мл, белый
              .col-xs.row.middle-xs
                .col-xs              
                  .amount-block
                    p Количество
                    span.amount 1100
                .col-xs    
                  .cost-block  
                    p Стоимость
                    span.cost 1320&nbsp;&#x20bd;        
            li.row
              .col-xs.row.middle-xs.start-xs
                span.icon-cup150
                span.info
                  h4 Стакан 150мл, белый
              .col-xs.row.middle-xs
                .col-xs              
                  .amount-block
                    p Количество
                    span.amount 1100
                .col-xs    
                  .cost-block  
                    p Стоимость
                    span.cost 1320&nbsp;&#x20bd;
          .row.end-xs
            .col-xs
              p.text-price 3320р  
          .row
            .col-xs
              h3 Заказчик
          .row
            ul.order.no-padding
              li
                h3 ООО "Рога и копыта"
                p Иванов Иван Иванович
                p ivan.ivan@gmail.com
                p 8 913 987 65 43
          .row
            .col-xs
              h3 Доставка
          .row
            ul.order.no-padding
              li
                h3 Курьерская служба СДЭК
                p 630090 Новосибирск,
                p ул.Николаева, 12, офис 520  
    script(src="dist/main.js" rel="text/javascript")
    footer
      .container
        .row.footer-content.start-xs
          .col-xs
            h4 Разделы
            ul
              li
                a(href="#") Главная
              li
                a(href="#") Продукция
              li
                a(href="#") Сотрудничество
              li
                a(href="#") О Компании
              li
                a(href="#") Контакты     
          .col-xs
            h4 Обратная связь
            ul 
              li 
                a(href="mailto:info@unikscup.ru") info@unikscup.ru
              li 
                a(href="callto:+73833034550") +7 (383) 303 45 50
          .col-xs
            h4 Компания
            ul
              li ООО "ЮНИКС"
              li 630068, Россия, Новосибирск ул.Приграничная&nbsp;1/3
              li Работаем с 9:00 до 18:00 с&nbsp;понедельника&nbsp;по&nbsp;пятницу<br>Суббота&nbsp;-&nbsp;9:00&nbsp;-&nbsp;15:00<br>Вс&nbsp;-&nbsp;выходной
          .col-xs 
            h4 Правовая информация
            ul
              li &copy; ООО "ЮНИКС"
              li Все права защищены.
         
