doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    link(rel="stylesheet" href="dist/flexboxgrid.css" type="text/css")
    link(rel="stylesheet" href="dist/style.css" type="text/css")
    link(href='https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css')
    title
      = 'Unikscup'
    
  body 
    header
      .header-top
        .container
          .row.middle-xs
            .col-xs-4
              a.logo(href="#") Unikscup
            .col-xs-8.row.middle-xs.end-xs
              .contacts.text-right
                p г.Новосибирск
                p ул.Приграничная
                p.top-offset-5
                  a(href="mailto:info@unikscup.ru") info@unikscup.ru
              .center-xs      
                p.phone +7&nbsp;(383)&nbsp;303&nbsp;45&nbsp;50
                a.order-button(href="#") Заказать&nbsp;обратный&nbsp;звонок
      .header-bottom
        .container
          .row.end-xs
            .col-xs.row.middle-xs.nav-button
              span
                a(href="#")
            ul.row.nav.col-sm.middle-xs
              li
                a(href="#") Главная
              li
                a(href="#") Продукция
              li
                a(href="#") Сотрудничество
              li
                a(href="#") О компании
              li
                a(href="#") Контакты   
            .row.end-xs.middle-xs
              span
                a(href="#")
                  span.icon.icon-cart
                    p В&nbsp;корзине&nbsp;2&nbsp;товара
              span
                a.button-checkout(href="#") оформить заказ          
    .container.basket
      .row.center-xs
        h1 Оформление заказа
      .row
        .col-xs
          .order-list
            .order-progress-bar.row.between-xs
              .col-xs.left.done.step-1
                .order-progress-circle.center-xs  
                  p.step-description Заказчик
              .col-xs.middle.done.step-2    
                .order-progress-circle.center-xs
                  p.step-description Доставка
              .col-xs.right.active.step-3    
                .order-progress-circle.center-xs
                  p.step-description Заказ
                
            form
              .form-step.step-1
                h3 Компания
                .form-control.error
                  p Название компании
                  input(type="text" placeholder="Полное юридическое название компании")  
                h3 Контакты
                .form-control
                  p ФИО контакного лица    
                  input(type="text" placeholder="Фамилия, имя и отчество представителя компании") 
                .form-control
                  p Электронная почта    
                  input(type="text" placeholder="Мы пришлем счет на оплату на этот адрес") 
                .form-control
                  p Телефон    
                  input(type="text" placeholder="Мы позвоним для уточнения деталей и согласования доставки")   
                .row.end-xs
                  .col-xs
                    a.button-checkout Далее
              .form-step.step-2.active
                h3 Адрес доставки
                .form-control 
                  p Город
                  input(type="text" placeholder="Новосибирск")
                .form-control 
                  p Улица
                  input(type="text" placeholder="Инженерная")
                .row
                  .col-xs
                    .form-control 
                      p Дом
                      input(type="text" placeholder="10")
                  .col-xs
                    .form-control 
                      p Корпус
                      input(type="text" placeholder="10")
                  .col-xs
                    .form-control 
                      p Строение
                      input(type="text" placeholder="10")
                  .col-xs
                    .form-control 
                      p Офис
                      input(type="text" placeholder="10") 
                .form-control 
                  p Примечания
                  textarea(type="text" placeholder="Кого спросить на вахте, есть ли шлагбаум на въезде на территорию и так далее...") 
            .row.col-xs.start-xs
              .col-xs
                a.grey-button              

                    
        .col-xs    
          .col-xs-offset-1.row.bottom-xs
            h3 Ваш заказ
          ul.order
            li.row
              .col-xs.row.middle-xs.start-xs
                span.icon-cup150
                span.info
                  h4 Стакан 150мл, белый
              .col-xs.row.middle-xs
                .col-xs              
                  .amount-block
                    p Количество
                    span.amount 1100
                .col-xs    
                  .cost-block  
                    p Стоимость
                    span.cost 1320        
            li.row
              .col-xs.row.middle-xs.start-xs
                span.icon-cup150
                span.info
                  h4 Стакан 150мл, белый
              .col-xs.row.middle-xs
                .col-xs         
                  .amount-block
                    p Количество
                    span.amount 1100
                .col-xs
                  .cost-block  
                    p Стоимость
                    span.cost 1320        
          .row.end-xs
            .col-xs
              span.text-price 13480р 

    footer
      .container
        .row.footer-content.start-xs
          .col-xs
            h4 Разделы
            ul
              li
                a(href="#") Главная
              li
                a(href="#") Продукция
              li
                a(href="#") Сотрудничество
              li
                a(href="#") О Компании
              li
                a(href="#") Контакты     
          .col-xs
            h4 Обратная связь
            ul 
              li 
                a(href="mailto:info@unikscup.ru") info@unikscup.ru
              li 
                a(href="callto:+73833034550") +7 (383) 303 45 50
          .col-xs
            h4 Компания
            ul
              li ООО "ЮНИКС"
              li 630068, Россия, Новосибирск ул.Приграничная&nbsp;1/3
              li Работаем с 9:00 до 18:00 с&nbsp;понедельника&nbsp;по&nbsp;пятницу<br>Суббота&nbsp;-&nbsp;9:00&nbsp;-&nbsp;15:00<br>Вс&nbsp;-&nbsp;выходной
          .col-xs 
            h4 Правовая информация
            ul
              li &copy; ООО "ЮНИКС"
              li Все права защищены.
         
