.contacts-container {
  ul {
    list-style-type: none;
    margin-bottom: 110px;
    margin-left: 60px;
    padding: 0;

    li {
      margin-top: 20px;

      &:first-child {
        margin-top: 0;
      }
    }

    h4 {
      font-weight: 400;
      font-size: 22px;
      margin-top: 0;
    }

    p {
      font-size: 14px;
      color: var(--black);
    }
  }
  .map-pin-pic {
    height: 40px;
    width: 40px;
    background: url('../img/icon_location-circle.png') center center no-repeat;
    background-size: 40px 40px;
  }

  .phone-pic {
    height: 40px;
    width: 40px;
    background: url('../img/icon_phone-circle.png') center center no-repeat;
    background-size: 40px 40px;
  }

  .clock-pic {
    height: 40px;
    width: 40px;
    background: url('../img/icon_watch-circle.png') center center no-repeat;
    background-size: 40px 40px;
  }

  .list-pic {
    height: 40px;
    width: 40px;
    background: url('../img/icon_document-circle (1).png') center center no-repeat;
    background-size: 40px 40px;
  }

  .card-pic {
    height: 40px;
    width: 40px;
    background: url('../img/icon_card-circle.png') center center no-repeat;
    background-size: 40px 40px;
  }

  img.map-pic {
    background: url('../img/map-pic.png') center center no-repeat;
    width: 380px;
    height: 355px;
  }

  .map {
    text-align: center;
  }

  @media screen and (max-width: 703px) {
    .map {
      order: -1;
    }
  }
}
