.page-cooperation {
  h1 {
    margin-top: 75px;
  }

  .cooperation-content {
    box-shadow: 0 1px 3px #ACACAE;
    background-color: var(--white);
    padding: 0 0 55px 0;
    margin-bottom: 60px;

    h3 {
      font-weight: 400;
      font-size: 25px;
      color: #2F3034;
      max-width: 750px;
      margin-top: 55px;
    }

    h4 {
      margin-bottom: 0;
      font-size: 22px;
      font-weight: 600;
    }

    p {
      color: #828385;
    }
  }

  .area-pic {
    background: url('../img/area-pic.png') center center no-repeat;
    min-height: 250px;
    min-width: 250px;
    background-size: contain;
    max-height: 270px;
    height: 100%;
  }
}
