.page-cooperation {
  .cooperation-content {
    box-shadow: 0 1px 3px #59595D;
    background-color: var(--white);
    padding: 0 0 55px 0;
    margin-bottom: 60px;

    h3 {
      font-weight: 300;
      font-size: 22px;
      color: #2F3034;
      max-width: 750px;
    }

    h4 {
      margin-bottom: 0;
    }
  }

  .area-pic {
    background: url('../img/area-pic.png') center center no-repeat;
    min-height: 250px;
    min-width: 250px;
    background-size: contain;
    max-height: 270px;
    height: 100%;
  }
}
