header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--headerbgcolor);
  z-index: 999;

  .header-top {
    box-shadow: var(--headershadow);
    align-items: center;
    height: 90px;
    z-index: 999;
    position: relative;

    .container,
    .container-fluid {
      height: 100%;

      .row {
        height: 100%;
      }
    }

    p {
      font-size: 11px;

      &.phone {
        font-size: 22px;
        font-weight: 600;
      }
    }

    a.logo {
      display: block;
      text-indent: -9999px;
      background: url('../img/logo2.png') center center no-repeat;
      width: 226px;
      height: 48px;
    }

    .contacts {
      margin-right: 26px;
    }

    @media only screen and (max-width: 500px) {
      & {
        .contacts {
          display: none;
        }

        p.phone {
          font-size: 14px;
        }

        a.order-button {
          font-size: 7px;
        }

        a.logo {
          width: 107px;
          height: 24px;
          background-size: contain;
        }
      }
    }
  }

  .header-bottom {
    height: 60px;
    position: relative;
    border-bottom: 1px solid #e9e9e9;

    .container-fluid,
    .row {
      height: 100%;
    }

    .nav-button {
      display: none;

      a {
        display: inline-block;
        width: 24px;
        height: 24px;
        background: url(../img/menu.png);
      }
    }

    .counter {
      display: none;
    }

    @media only screen and (max-width: 500px) {
      & {
        span.icon-cart {
          position: relative;
        }

        span.icon-cart p {
          display: none;
        }

        span.icon-cart .counter {
          border-radius: 50%;
          text-align: center;
          display: block;
          width: 17px;
          height: 17px;
          font-size: 12px;
          background-color: var(--pricecolor);
          color: #fff;
          position: absolute;
          left: 16px;
        }
      }
    }

    @media only screen and (max-width: 900px) {
      & {
        ul.nav {
          transition: left 150ms 100ms;
          position: fixed;
          top: 120px;
          left: -280px;
          bottom: 0;
          right: 0;
          width: 280px;
          padding-left: 0px;
          background-color: #000;
          overflow: hidden;
          flex-direction: column;

          li {
            display: block;
            width: 100%;
            text-align: left;
          }

          &.is-open {
            left: 0;
          }
        }

        .nav-button {
          display: flex;
        }
      }
    }

    ul.nav {
      list-style: none;
      margin: 0;

      li {
        display: inline-block;
        color: var(--navtxtcolor);

        a {
          display: block;
          padding: 14px 34px;
          transition: 0.2s;
          font-weight: 600;
          font-size: 16px;
          z-index: 1;

          &:hover {
            color: #666;
            background-color: rgba(100,100,100,0.1);
          }
        }
      }
    }

    @media only screen and (max-width: 1070px) {
      & {
        ul.nav li a {
          font-size: 11px;
          padding: 18px 10px;
        }
      }
    }
  }

  .cart-quick-view {
    display: none;
    position: absolute;
    right: 0;
    top: 60px;
    background: white;
    padding: 15px 25px;
    box-shadow: 5px 8px 15px rgba(0,0,0,0.5);

    &.opened {
      display: block;
    }

    &:after {
      position: absolute;
      top: -10px;
      content: "";
      width: 0;
      height: 0;
      left: 50%;
      margin-left: -10px;
      border-style: solid;
      border-width: 0 10px 10px 10px;
      border-color: transparent transparent white transparent;
    }
  }
}
