.landing-page-banner {
  padding: 0 12px;
}

.manufacture{
  background-color: var(--white);
  padding: 89px 118px 60px 90px;
  margin: 44px auto 0;
  box-shadow: 0 1px 3px #E0E0E0;

  .button-checkout {
    height: 50px;
    padding-bottom: 16px;
    padding-top: 16px;
    text-transform: uppercase;
    font-size: 15px;
  }

  h2 {
    font-size: 50px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 35px;
    color: #000;
    letter-spacing: -2px;
    line-height: 1.2;
  }
  p {
    font-size: 17px;
    font-weight: 500;
    color: #828385;
    margin-bottom: 60px;
    line-height: 1.6;
  }

  @media screen and (max-width: 1140px) {
    & {
      padding: 12px 35px;
    }

    .image-cup  {
      order: -1;
    }

    h2 {
      font-size: 30px;
    }

    .button-checkout:last-child {
      margin-top: 10px;
    }
  }
}

  .landingcup {
    background: url('../img/landingcup4.png') center center no-repeat;
    height: 368px;
    width: 260px;
    margin-top: -30px;
  }

  .catalog {
    margin-top: -60px;
  }

  .why-us {
    margin-bottom: 65px;
    h2 {
      font-weight: 600;
    }
    p {
      max-width: 255px;
      font-size: 14px;
      font-weight: 500;
      color: #828385;
    }
  }

.guarantees {
  background: url('../img/guarantees2.png') center center no-repeat;
  height: 256px;
  width: 254px
}

.car1 {
  background: url('../img/car2.png') center center no-repeat;
  height: 256px;
  width: 314px
}

.why-us1 {
  background: url('../img/why-us2.png') center center no-repeat;
  height: 265px;
  width: 252px;
}

.landing-page-unique {
  background-color: var(--pricecolor);
  padding: 45px 110px 25px 140px;

  h2 {
    font-size: 60px;
    font-weight: 900;
    color: #000;
    line-height: 1.2;
  }

  p {
    font-size: 22px;
    font-weight: 300;
    color: #fff;
  }

  .unique-cup {
    background: url('../img/uniq.png') center center no-repeat;
    height: 550px;
    width: 690px;
    background-size: contain;
  }


  @media screen and (max-width: 1140px) {
    & {
      padding: 10px 0;
    }

    h2 {
      font-size: 30px;
    }

    .unique-cup {
      height: 250px;
      width: 280px;
    }
  }
}
.landing-page-brand-cups {
  margin-top: 35px;
  padding:25px 0 15px 45px;
  background-color: #1473E6;

  h2 {
    margin-bottom: 40px;
    font-size: 65px;
    line-height: 1.2;
    font-weight: 900;
    color: #000;
    margin-top: 0;
    &:last-of-type {
      color: #fff;
      margin-bottom: 0;
      margin-top: 35px;
    }
  }

  p {
    font-size: 25px;
    font-weight: 300;
    color: #fff;;
  }

  @media screen and (max-width: 1140px) {
    & {
      padding: 10px 0;
    }

    h2 {
      font-size: 30px;
    }

    .unique-cup {
      height: 250px;
      width: 280px;
    }
  }
}

.brand-cup {
  background: url('../img/brand-cups4.png') center center no-repeat;
  height: 556px;
  width: 608px;
  background-size: contain;
}


.delivery {
  margin-bottom: 75px;
  h2 {
    font-size: 30px;
    color: #333;
    max-width: 300px;
  }
  p {
    max-width: 300px;
    font-size: 17px;
    font-weight: 500;
    color: #828385;
  }
}

.delivery1 {
  background: url('../img/delivery1.png') center center no-repeat;
  height: 250px;
  width: 250px;
  background-size: contain;
}


.delivery2 {
  background: url('../img/delivery2.png') center center no-repeat;
  height: 250px;
  width: 250px;
  background-size: contain;
}

.delivery3 {
  background: url('../img/delivery3.png') center center no-repeat;
  height: 250px;
  width: 250px;
  background-size: contain;
}


.landing-page-questions {
  background-color: #358FD5;
  padding-left: 91px;

  .col-xs.no-grow {
    min-width: 400px;
  }

  input {
    padding: 20px 25px;
    font-size: 18px;
    min-width: 212px;
  }

  h2 {
    color: #fff;
    font-size: 26px;
  }
  p {
    color: #000;
    margin-bottom: 35px;
    max-width: 400px;
    font-size: 17px;
    font-weight: 600;
  }
  input {
    border-radius: 4px;
  }

  @media screen and (max-width: 1140px) {
    & {
      padding: 10px 0;
    }
  }
}

.landingcup150{
  background: url('../img/landingcup150.png') center center no-repeat;
  height: 140px;
  width: 180px
}

.landingcup250{
  background: url('../img/landingcup250.png') center center no-repeat;
  height: 140px;
  width: 180px
}

.landingcup350{
  background: url('../img/landingcup350.png') center center no-repeat;
  height: 140px;
  width: 180px
}

.landingcup450{
  background: url('../img/landingcup450.png') center center no-repeat;
  height: 140px;
  width: 180px
}

.landing2layerscup350{
  background: url('../img/landing2layerscup350.png') center center no-repeat;
  height: 140px;
  width: 180px
}

.landing2layerscup450{
  background: url('../img/landing2layerscup450.png') center center no-repeat;
  height: 140px;
  width: 180px
}
