

.manufacture{
  background-color: var(--white);
  padding: 60px 75px;
  margin: 10px auto;

  h2 {
    font-size: 42px;
    font-weight: 300;
    margin-top: 0;
  }
  p {
    font-size: 16px;
    font-weight: 500;
    color: #828385;
    margin-bottom: 60px;
  }
}

  .landingcup {
    background: url('../img/landingcup.png') center center no-repeat;
    height: 294px;
    width: 210px;
  }

  .why-us {
    margin-bottom: 65px;
    h2 {
      font-weight: 600;
    }
    p {
      max-width: 255px;
      font-size: 14px;
      font-weight: 500;
      color: #828385;
    }
  }

  .why-us1 {
    background: url('../img/why-us1.png') center center no-repeat;
    height: 215px;
    width: 204px;
  }


.landingcup {
  background: url('../img/landingcup.png') center center no-repeat;
  height: 294px;
  width: 210px;
}


.guarantees {
  background: url('../img/guarantees.png') center center no-repeat;
  height: 215px;
  width: 205px
}

.car1 {
  background: url('../img/car1.png') center center no-repeat;
  height: 215px;
  width: 325px
}

.why-us1 {
  background: url('../img/why-us1.png') center center no-repeat;
  height: 216px;
  width: 204px;
}

.rubblefix {
  position: relative;
  left: -60px;
  bottom: -136px;
  p {
    color: white;
    font-size: 46px;
  }
}


.landing-page-unique {
  background-color: var(--pricecolor);
  padding: 45px 110px 25px 140px;

  h2 {
    font-size: 54px;
    font-weight: 900;
    color: #000;
  }

  p {
    font-size: 22px;
    font-weight: 300;
    color: #fff;
  }
}

.unique-cup {
  background: url('../img/unique.png') center center no-repeat;
  height: 445px;
  width: 555px
}

.landing-page-brand-cups {
  margin-top: 35px;
  padding:25px 0 15px 110px;
  background-color: #1473E6;

  h2 {
    margin-bottom: 15px;
    font-size: 54px;
    font-weight: 900;
    color: #000;
    &:last-of-type {
      color: #fff;
      margin-bottom: 0;
    }
  }

  p {
    font-size: 22px;
    font-weight: 300;
    color: #fff;
  }
}

.guarantees {
  background: url('../img/guarantees.png') center center no-repeat;
  height: 200px;
  width: 205px
}

.car1 {
  background: url('../img/car1.png') center center no-repeat;
  height: 214px;
  width: 325px
}

.unique-cup {
  background: url('../img/unique.png') center center no-repeat;
  height: 442px;
  width: 555px
}

.brand-cup {
  background: url('../img/brand-cups.png') center center no-repeat;
  height: 465px;
  width: 500px
}

.delivery {
  margin-bottom: 75px;
  h2 {
    font-weight: 600;
    max-width: 255px;
  }
  p {
    max-width: 255px;
    font-size: 14px;
    font-weight: 500;
    color: #828385;
  }
}

.delivery1 {
  background: url('../img/delivery1.png') center center no-repeat;
  height: 200px;
  width: 200px
}

.delivery2 {
  background: url('../img/delivery2.png') center center no-repeat;
  height: 200px;
  width: 200px
}

.delivery3 {
  background: url('../img/delivery3.png') center center no-repeat;
  height: 200px;
  width: 200px
}


.landing-page-questions {
  background-color: #358FD5;
  padding-left: 110px;
  h2 {
    color: #fff;
  }
  p {
    color: #000;
    margin-bottom: 35px;
    max-width: 330px;
    font-size: 15px;
    font-weight: 500;
  }
}

.landingcup150{
  background: url('../img/landingcup150.png') center center no-repeat;
  height: 140px;
  width: 180px
}

.landingcup250{
  background: url('../img/landingcup250.png') center center no-repeat;
  height: 140px;
  width: 180px
}

.landingcup350{
  background: url('../img/landingcup350.png') center center no-repeat;
  height: 140px;
  width: 180px
}

.landingcup450{
  background: url('../img/landingcup450.png') center center no-repeat;
  height: 140px;
  width: 180px
}

.landing2layerscup350{
  background: url('../img/landing2layerscup350.png') center center no-repeat;
  height: 140px;
  width: 180px
}

.landing2layerscup450{
  background: url('../img/landing2layerscup450.png') center center no-repeat;
  height: 140px;
  width: 180px
}
