
.bgimage {
    color: var(--white);
    margin: auto auto;
    display: block;
    background: url('../img/bgpage.png') center center no-repeat;
    height: 500px;

  h1 {
    margin: 0 0;
    font-size: 72px;
    padding-top: 140px;
    margin-bottom: 35px;

    @media (width <= 840px) {
      font-size: 32px;
    }

  }

  p {
    font-size: 40px;
    font-weight: 300;

    @media (width <= 840px) {
      font-size: 20px;
    }
  }

  @media (width <= 840px) {
    height: 350px;
  }

  @media (width <= 480px) {
    height: 200px;

    h1 {
      padding-top: 0;
    }
  }

}

.howwedoit {
  box-shadow: 0 1px 3px #59595D;
  background-color: var(--white);
  position: relative;
  margin: -35px 30px 75px;
  min-height:1100px;
  padding: 0 10% 170px 10%;

  h3 {
    font-size: 22px;
    font-weight: 400;

    @media (width <= 840px) {
      font-size: 16px;
    }

  }

  h2{
    font-weight: 400;
    font-size: 26px;

    @media (width <= 840px) {
      font-size: 18px;
    }

  }

  p {
    color: #828385;
    font-size: 16px;
    margin: 10px 0;

    @media (width <= 840px) {
      font-size: 12px;
    }

  }

  h4 {
    margin: 0 auto;
  }

  ul p {
    margin: 0 0;
  }
}

ul.story {
  list-style-type: none;
}

.list-item-1::before {
  position: relative;
  content: '1';
  border: 1px solid #828385;
  border-radius: 30px;
  padding: 7px 14px;
  left: -50px;
  top: 22px;

}

.list-item-2::before {
  position: relative;
  content: '2';
  border: 1px solid #828385;
  border-radius: 30px;
  padding: 7px 14px;
  left: -50px;
  top: 22px;

}

.list-item-3::before {
  position: relative;
  content: '3';
  border: 1px solid #828385;
  border-radius: 30px;
  padding: 7px 14px;
  left: -50px;
  top: 22px;

}
