 .order-list {

 	.order-progress-bar {
 		padding: 30px 45px;
 		height: 90px;
 		min-width: 300px;

 		.order-progress-circle {
 			position: relative;
 			z-index: 10;
 			display: block;
 			width: 25px;
 			height: 25px;
 			border-radius: 50%;
 			border: 4px solid transparent;
 			background-color: var(--headerbgcolor);
 			box-shadow: 0 2px 2px #777;

 			&.step-1 {
 				&:after {
		 			position: absolute;
		 			display: block;
		 			content: "";
		 			width: 100%;
		 			height: 4px;
		 			background-color: #dbdbdb;
		 			z-index: 1;
		 		}
 			}

 			&.step-2 {
 				align-self: center;
 			}

 			&.step-3 {
 				align-self: flex-end;

 				.step-description {
 					left: -6px;
 				}
 			}

 			&:after {
 				font-size: 13px;
 				font-weight: bold;
 				display: block;
 				padding-top: 3px;
 			}

 			&.step-1:after {
 				content: "1";
 			}

 			&.step-2:after {
 				content: "2";
 			}

 			&.step-3:after {
 				content: "3";
 			}

 			&.active {
 				border-color: var(--pricecolor);
 				color: var(--pricecolor);
 			}

 			&.done {
 				border-color: var(--pricecolor);
 				background-color: var(--pricecolor);
 				color: var(--white);	
 			}

 			.step-description {
 				position: absolute;
 				top: 35px;
 				left: -17px;
 				font-size: 12px;
 				text-transform: uppercase;
 				color: var(--navtxtcolor);
 			}
 		}
 	}
 }