.product-item {
  box-shadow: 0 1px 3px #59595D;
  background-color: var(--white);
  max-width: 530px;
  padding: 25px 30px;
  margin: 15px 0;

  .product-info {
    p {
      font-size: 13px;
      color: #a9aaaf;
      font-weight: 600;
    }
    h3 {
      font-weight: 600;
    }
    h2 {
      color: var(--pricecolor);
      font-weight: 600;
      font-size: 32px;
      margin-bottom: 0;
    }
    span {
      color: #000;
      font-size: 12px;
      font-weight: 600;
    }
    &.soon {
      margin-bottom: 25px;
    }
  }

  .price-for-one {
    border: 2px dotted #DEDEDE;
    margin: 15px 0;

    p {
      font-size: 32pt;
      color: var(--pricecolor);
    }
  }
}

.amount {
  padding: 4px 45px;
  border: var(--border) #C7CCD0;
  border-radius: 18px;
  font-size: 16px;
  font-weight: bold;
  position: relative;

  .plus-pic,
  .minus-pic {
    position: absolute;
    top: 50%;
    margin-top: -10px;
  }

  .plus-pic {
    right: 7px;
  }

  .minus-pic {
    left: 10px;
  }
}

.minus-link{
  background: url('../img/plus-minus.png') center center no-repeat;
  height: 10px;
  width: 8px;
  display: inline-block;
  background-position: 0 -2px;
}

.plus-link{
  background: url('../img/plus-minus.png') center center no-repeat;
  height: 13px;
  width: 13px;
  display: inline-block;
  background-position: -13px 0;
}

.amount-block {
  margin: 15px 0 5px;
  p {
    font-size: 9px;
    margin: 0 0 5px 0;
    padding: 0 0 5px 5px;
    margin-right: 10px;
  }
}

.cup150 {
  background: url('../img/cup150.png') center center no-repeat;
  height: 151px;
  width: 162px;
}

.cup250 {
  background: url('../img/cup250.png') center center no-repeat;
  height: 172px;
  width: 162px;
}

.cup350 {
  background: url('../img/cup350.png') center center no-repeat;
  height: 204px;
  width: 162px;
}

.cup450 {
  background: url('../img/cup450.png') center center no-repeat;
  height: 232px;
  width: 162px;
}

.cup-cover80 {
  background: url('../img/cup-cover80.png') center center no-repeat;
  height: 134px;
  width: 204px;
}

.cup-cover90 {
  background: url('../img/cup-cover90.png') center center no-repeat;
  height: 140px;
  width: 204px;
}

.amount-info {
  font-style: italic;
  font-size: 12px;
}
