@import '../../node_modules/normalize.css/normalize.css';

@custom-media --desktop (width <= 1024px);
@custom-media --tablet (width <= 768px);
@custom-media --phone (width <= 480px);


:root {
  --border: 2px solid;
  --white: #fff;
  --black: #000;

  --red: #f35856;
  --darkred: #e93d3a;
  --orange: #FF7323;
  --lightgreen: #7EC955;
  --mainbgcolor: #F4F8FB;
  --headerbgcolor: #FAFAFA;
  --footerbgcolor: #2F3034;
  --footerheadercolor: #59595D;
  --borderordercolor: #d6d6d6;

  --navtxtcolor: #acacae;
  --headershadow: 0 3px 3px #b7b7b7;
  --orderlistshadow:0 1px 3px #59595D;
  --maintxtcolor: #59595D;
  --pricecolor: #5DAAA4;

  --sans: 'Open Sans', sans-serif;
}

@define-mixin order-button {
  display: block;
  background: var(--orange);
  font-family: var(--sans);
  font-size: 10px;
  font-weight: bold;
  color: var(--white);
  border-radius: 21px;
  padding: 6px 13px;
  text-decoration: none;
  border: var(--border);
  border-color: var(--orange);
  transition: color 0.3s;

  &:hover {
    color: var(--orange);
    background: var(--white);
  }

  &:active {
    box-shadow: inset 3px 3px 3px var(--navtxtcolor);
  }
}

@define-mixin icon-cup {
  background: url('../img/cupboard2.png');
  background-repeat: no-repeat;
  height: 55px;
}

.order-button {
  @mixin order-button;
  display: inline-block;
  text-transform: uppercase;

  &.orange {
      border-radius: 5px;
      margin: 15px 0;
    }
}

.button-checkout {
  display: block;
  background: var(--lightgreen);
  font-family: var(--sans);
  font-size: 14px;
  padding: 8px 21px;
  color: var(--white);
  border-radius: 5px;
  border: 2px solid var(--lightgreen);

  &:hover {
    color: var(--lightgreen);
    background-color: var(--white);
  }

  &:focus {
    box-shadow: inset 2px 2px 2px #bbb;
  }
}

* {
  font-family: var(--sans);
}

body {
  background-color: var(--mainbgcolor);
  padding-top: 120px;
}

h1, h2, h3 {
  width:100%;
}
.top-offset-5 {
  margin-top: 5px;
}

.text-right {
  text-align: right;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (--desktop) {
  header {
    width: 900px;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--headerbgcolor);

  .header-top {
    box-shadow: var(--headershadow);
    padding: 0 45px;
    align-items: center;
    height: 70px;

    a.logo {
      display: block;
      text-indent: -9999px;
      background: url('../img/logo.png') center center no-repeat;
      width: 160px;
      height: 36px;
    }

    .contacts {
      margin-right: 10px;
    }

    p {
      font-size: 10px;

      &.phone {
        font-size: 18px;
        font-weight: bold;
      }
    }
  }

  .header-bottom {
    height: 50px;

    ul.nav {
      list-style: none;
      margin: 0;

      li {
        display: inline-block;
        color: var(--navtxtcolor);

        a {
          display: block;
          padding: 14px 20px;
          transition: color 0.2s;
          font-weight: normal;

          &:hover {
            color: var(--black);
          }
        }
      }
    }
  }
}

footer {
  height: 190px;
  background-color: var(--footerbgcolor);
  font-size: 12px;
  color: var(--navtxtcolor);

  .container {
    height: 100%;

    .row {
      height: 100%;
    }
  }



  ul {
    margin: 0;
    list-style: none;
    padding: 0;

    li {
      color: var(--navtxtcolor);
      margin: 7px 0;
    }
  }
}

h1 {
  margin-top: 45px;
  font-size: 26px;
  text-transform: uppercase;
}

.container {
  color: var(--maintxtcolor);
}

.order-list {
  box-shadow: var(--orderlistshadow);
  margin-top: 45px;
  margin: 45px auto 70px auto;
  padding: 0 25px;
  max-width: 600px;
  width: 80%;
  background-color: var(--white);


  ul.order {
    width: 100%;
    list-style-type: none;
    border-top: 1px solid var(--borderordercolor);

    li {
      border-bottom: 1px solid var(--borderordercolor);
      padding: 5px 5px 10px 5px;
    }
    h4 {
      font-size: 12px;
      display: inline-block;
      color: #333;
      margin-bottom: 5px;
    }
  }
}

.info {
  margin-left: 15px;
  max-width: 165px;

  p {
    font-size: 10px;
  }
}

.amount-block,
.cost-block {
  margin: 0 5px;
  p {
    font-size: 9px;
    margin: 0 0 10px 0;
    padding: 0 0 5px 5px;
    margin-right: 10px;
  }
}

.amount {
  padding: 5px 28px;
  border: var(--border) #C7CCD0;
  border-radius: 18px;
  font-size: 16px;
  font-weight: bolder;
}

.cost {
  color: var(--pricecolor);
  padding: 5px 28px;
  border: var(--border) #c7ccd0;
  border-radius: 18px;
  font-size: 16px;
}
.total-cost {
  color: var(--pricecolor);
}

.cross-block {
  margin-left: 5px;
}

a.cross {
  padding: 10px 10px;
  display: block;
  background: url('../img/cross.png') center center no-repeat;
  width: 10px;
  height: 10px;
  border: var(--border) #A9AAAF;
  border-radius: 35px;

  &:hover {
    background: url('../img/x.png') center center no-repeat;
    background-color: #A9AAAF;

  }
}

.minus-pic{
display: inline-block;
position: relative;
left: 20px;
}

.plus-pic{
display: inline-block;
position: relative;
left: -20px;
}

.minus-link{
  background: url('../img/plus-minus.png') center center no-repeat;
  height: 10px;
  width: 8px;
  display: inline-block;
  background-position: 0 -2px;
}

.plus-link{
  background: url('../img/plus-minus.png') center center no-repeat;
  height: 13px;
  width: 13px;
  display: inline-block;
  background-position: -13px 0;
}

/* -- Icons -- */
.icon {
  display: inline-block;
  width: 24px;
  height: 24px;

  &.icon-cart {
    background: url('../img/cart.png') center center no-repeat;
  }
}

.icon-cup150 {
  display: inline-block;
  width: 40px;
  height: 55px;
  @mixin icon-cup;
  background-position: 4px 0;
}

.icon-cup250 {
  display: inline-block;
  width: 40px;
  height: 55px;
  @mixin icon-cup;
  background-position: -48px 0;
}

.icon-cup350 {
  display: inline-block;
  width: 40px;
  height: 55px;
  @mixin icon-cup;
  background-position: -102px 0;
}

.icon-cup450 {
  display: inline-block;
  width: 40px;
  height: 55px;
  @mixin icon-cup;
  background-position: -156px 0;
}

.icon-cup80 {
  display: inline-block;
  width: 40px;
  height: 55px;
  @mixin icon-cup;
  background-position: -234px 0;
}

.icon-cup90 {
  display: inline-block;
  width: 40px;
  height: 55px;
  @mixin icon-cup;
  background-position: -295px 0;
}
