@import '../../node_modules/normalize.css/normalize.css';

@custom-media --desktop (width <= 1024px);
@custom-media --tablet (width <= 768px);
@custom-media --phone (width <= 480px);


:root {
  --border: 1px solid;
  --white: #fff;
  --black: #000;

  --red: #f35856;
  --darkred: #e93d3a;
  --orange: #FF7323;
  --lightgreen: #7EC955;
  --mainbgcolor: #F4F8FB;
  --headerbgcolor: #FAFAFA;
  --navtxtcolor: #dbdbdb;
  --headershadow: 0 3px 3px #b7b7b7;
  --orderlistshadow:0 1px 3px #59595D;
  --maintxtcolor: #59595D;
  --pricecolor: #5DAAA4;

  --sans: 'Open Sans', sans-serif;
}

@define-mixin order_button {
  display: block;
  background: var(--orange);
  font-family: var(--sans);
  font-size: 10px;
  font-weight: bold;
  color: var(--white);
  border-radius: 21px;
  padding: 8px 15px;
  text-decoration: none;
  border: var(--border);
  border-color: var(--orange);
  transition: color 0.2s;

  &:hover {
    color: var(--orange);
    background: var(--white);
  }

  &:active {
    box-shadow: inset 3px 3px 3px var(--navtxtcolor);
  }
}

.order_button {
  @mixin order_button;
  display: inline-block;
  text-transform: uppercase;
}

* {
  font-family: var(--sans);
}

body {
  background-color: var(--mainbgcolor);
}

.top_offset_5 {
  margin-top: 5px;
}

.text-right {
  text-align: right;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.header_top {
  box-shadow: var(--headershadow);
  background-color: var(--headerbgcolor);
  padding: 0 45px;
  align-items: center;
  height: 70px;

  a.logo {
    display: block;
    text-indent: -9999px;
    background: url('../img/logo.png') center center no-repeat;
    width: 160px;
    height: 36px;
  }

  p {
    font-size: 10px;

    &.phone {
      font-size: 18px;
      font-weight: bold;
    }
  }
}
h1 {
  font-size: 26px;
  text-transform: uppercase;
}

.main_page {
  color: var(--maintxtcolor);
  padding-top: 90px;
}
.order_list {
  box-shadow: var(--orderlistshadow);
  margin-top: 45px;
  margin: 45px auto 70px auto;
  width: 545px;
  height: 560px;
  background-color: var(--white);
}
.order_header {
  p {
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: bold;
  }
}
.price {
  justify-content: flex-end;
  p {
    color: var(--pricecolor);
    text-align: right;
  }
}
